<div class="navbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="column" fxFlex="33.3%">
      <div fxLayout="row">
        <button mat-button>
          <mat-icon class="epic-icon">home</mat-icon>
          Home
        </button>
        <button mat-button routerLink="/products">
          <mat-icon>shop</mat-icon>
          Products
        </button>
      </div>
    </div>
    <div fxLayout="column" fxFlex="33.3%">
      <div class="nav-image-container">
        <img src='../assets/logo_transparent.png' style="width: 100%; height: 100%; object-fit: contain;">
      </div>
    </div>
    <div fxLayout="column" fxFlex="33.3%">
      <div fxLayout="row" fxFlexAlign="end">
        <button mat-button routerLink="/manage">
          <mat-icon>settings</mat-icon>
          Manage
        </button>
      </div>
    </div>
</div>

<div style="padding-top: 20px;">
  <router-outlet></router-outlet>
</div>