.product-container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(119, 228, 255, 0.2);
  border-radius: 10px;
}

.md-unstyled-image img{
  max-width: 50%;
  width: auto;
  height: auto !important; /* needs to be important because md-card also sets it that way */
  border-radius: 50px;
}
.content-container {
  margin-bottom: 20px;
}
.content-section-container {
  margin-left: 100px;
  margin-right: 100px;
}

.icon-text {
  margin-top: 5px;
}

.description-container {
  background-color: rgba(47, 211, 252, 0.2);
  padding: 5px;
  border-radius: 5px;
}

.ratings-container {
  background-color: rgba(47, 211, 252, 0.2);
  padding: 5px;
  border-radius: 5px;
}

.user-rating-container {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  border-radius: 5px;
}

.user-rating {
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}