<div class="container">
  <div class="inputss" fxLayout="column">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
      <mat-form-field fxFlex="40%" appearance="outline">
        <mat-label>Search for products</mat-label>
        <input [(ngModel)]="searchInputText" matInput placeholder="Start typing...">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-form-field fxFlex="20%" appearance="outline">
        <mat-label>Select category</mat-label>
        <mat-select [(ngModel)]="selectedCategory" (selectionChange)="filterProducts()">
          <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
        </mat-select>
        <mat-icon matSuffix>category</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="products-list" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="80">
      <div 
        fxLayout="row wrap" 
        fxLayout.lt-sm="column" 
        fxLayoutGap="32px grid" 
        fxLayoutAlign="center">
        <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
      </div>
    </div>
  </div>
</div>
